html {
  font-size: 20px;

  @media (max-width: 321px) {
    font-size: 16px;
  }
  @media (min-width: 1023px) {
    font-size: 36px;
  }
}

body {
  overflow-x: hidden;
}

.Home {
  min-height: 100vh;
  overflow-x: hidden;
}

.Home-header {
  position: relative;
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
  height: 8.2rem;
  background-color: #d43c33;
}

.Home-hedaer-search {
  width: 70%;
  padding: 0 1rem;
  color: #fff;
  font-weight: 300;
  font-size: 0.7rem;
  line-height: 0.7rem;
  height: 1.4rem;
  border-radius: 0.5rem;
  background-color: #e36a63;

  &::-moz-placeholder {
    line-height: 1.3;
    color: #efaba9;
  }

  &::-webkit-input-placeholder {
    line-height: 1.3;
    color: #efaba9;
  }

  &::-ms-input-placeholder {
    line-height: 1.3;
    color: #efaba9;
  }
}

.Home-header-banner,
.Home-header-banner .cover {
  height: 6.5rem;
}

.Home-header-banner {
  position: absolute;
  top: 3.5rem;
  left: 0.3rem;
  right: 0.3rem;
  border-radius: 0.2rem;
  overflow: hidden;
  box-shadow: 0 0.2rem 1rem rgba(99, 99, 99, 0.4);
  // -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);

  .slick-track {
    display: flex;
    align-items: center;
  }

  .slick-dots {
    position: absolute;
    bottom: 1rem;
    height: 1rem;
    margin: 0;
    left: 50%;
    transform: translate3d(-50%, 0, 0);

    li {
      display: inline-block;
      font-size: 0;
      line-height: 0;
      margin: 0 0.2rem;

      &.slick-active button {
        background-color: rgba(200, 22, 10, 0.8);
      }

      button {
        height: 0.35rem;
        width: 0.35rem;
        font-size: 0;
        color: rgba(0, 0, 0, 0);
        background-color: rgba(177, 177, 177, 0.8);
        border-radius: 50%;
      }
    }
  }

  .cover {
    display: flex;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.Home-header-player,
.Home-header-me {
  height: 1.3rem;
  width: 1.3rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.Home-header-player {
  margin-right: 0.3rem;
  margin-top: 0.1rem;
  background-image: url('../assets/player.svg');
}

.Home-header-me {
  margin-left: 0.3rem;
  margin-top: 0.05rem;
  background-image: url('../assets/me.svg');
}

.Home-title {
  padding: 0;
  font-size: 1rem;
  margin: 0.5rem;
  font-weight: 600;
}

.Home-content {
  padding-top: 2rem;
  background-color: #fff;

  hr {
    background-color: #e9e9eb;
    border: 0;
    height: 1px;
  }
}

.Home-menu {
  // height: 3rem;
  // width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 1.2rem;
}

.Home-menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.7rem;

  .icon {
    display: block;
    margin-bottom: 0.2rem;
    height: 2rem;
    width: 2rem;
    border: 1px solid #d43c33;
    border-radius: 50%;
    background-position: center;
    background-size: 1.4rem;
    background-repeat: no-repeat;
  }

  .icon-daily {
    background-image: url('../assets/daily.svg');
  }
  .icon-ranking {
    background-image: url('../assets/ranking.svg');
  }
  .icon-personalize {
    background-size: 1.9rem;
    background-image: url('../assets/personalize.svg');
  }
  .icon-collect {
    background-image: url('../assets/collect.svg');
  }
}

.Home-remd {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 0.2rem;
}

.Home-remd-song {
  margin: 0 0 1rem;
  width: 32%;
  text-align: center;

  .cover {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center 15%;
    background-size: cover;
  }

  .name {
    margin: 0.3rem 0.1rem 0 0.3rem;
    max-height: 1.7rem;
    overflow: hidden;
    padding: 0;
    font-size: 0.7rem;
    line-height: 1.2;
  }
}
