@import url('./normalize.scss');

body,
html {
  font-family: "PingFangSC", "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  color: #4a4a4a;
}

.light {
  color: #80ddaa;
}
