@import url("./normalize.scss");
body,
html {
  font-family: "PingFangSC", "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  color: #4a4a4a; }

body {
  font-size: 0.7rem; }

.light {
  color: #f00009; }

.title {
  color: #222; }

.dim {
  color: #888; }
